*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: merienda;
}
body{
    text-align: center;
    font-size: 2em;
    background:linear-gradient(to bottom right, #003366,  #5c85d6);
    height: 100vh;
    color: #f0f5f5;
}
section.countdown{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.timer-container{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0.4em;
}
div.container{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 0.4em;
    justify-content: center;
    color: #fff;
}
div.box{
    display: flex;
    flex-direction:column;
    width: 3em;
    transition: 1s ease;
}
.count{
    transition: 1s ease;
    border: 1px #fff solid;
}
p{
    font-family: sevillana;
}
@media (max-width:400px) {
    body{
        width: 80%;
        margin: 0 auto;
    }
    section.countdown{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    div.timer-container{
        margin-top: 1.5em;
        gap: 0.01em;
        margin: 0 auto;
    }
    div.container{
        width: 80px;
        margin: 0 auto;
    }
    .count{
        border: none;
    }
    h1{
        font-size: 1.2em;
        text-align: center;
    }
    p{
        font-size: 0.7em;
    }
}